In Python, to read input from the user, we have an in-built function called input().

The syntax for input() function is :
**input([prompt])**


Here, the optional prompt string will be printed to the console for the user to input a value. The prompt string is used to indicate the type of value to be entered by the user.

Reading string inputs

Let us consider the below example:

In [ ]:
name = input("Enter your Name: ")
print("User Name:", name)

Enter your Name: Mithun Kumar S R
User Name: Mithun Kumar S R

In [ ]:
a= int(input("Enter an integer :"))

Enter an integer :10

We can pass zero or more number of expressions separated by commas(,) to **print() function**.

The print() function converts those expressions into strings and writes the result to standard output which then displays the result on screen.

Let us consider an example of print() with multiple values with comma(,) as separator.

In [ ]:
print("Hi", "Hello", "Python") # will print output as follows

Hi Hello Python

In [ ]:
a = 10
b = 50
print("A value is", a, "and", "B value is", b) # will print output as follows

A value is 10 and B value is 50

The **print()** function is used to print the values to the standard output.

The general syntax of the function is,
print(value1, ..., sep = ' ', end = '\n', file = sys.stdout, flush = False)

where,

value1... valuen These are the actual data values to printed.
sep This is the separator used between each value. The default used is the space.

end This is the character which gets printed after all values have been printed.

The newline character, '\n' is the default.
file This argument specifies where the output needs to be printed. The screen is the standard output by default

1. Python uses C-style string formatting to create new, formatted strings.

The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list)

The format string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d".
%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.f - Floating point numbers with a fixed amount of digits for the decimal part.

%x/%X - Integers in hex representation (lowercase/uppercase)

%o - octal representation

**%[flags][width][.precision]type**

In [ ]:
a = 10
b = 20
str = "Hello"
print("The value of a = %d, b = %d and str = %s" %(a, b, str))

The value of a = 10, b = 20 and str = Hello

In [ ]:
print("The value of a = {}, b = {} and str = {}".format(a, b, str))

The value of a = 10, b = 20 and str = Hello

In [ ]:
print("The value of a = {0}, b = {1} and str = {2}".format(a, b, str))

The value of a = 10, b = 20 and str = Hello