# List

**List is a data type of Python and is used to store sequence of items.**

The items of a list need not be of the same data type.

Lists are ordered sequence of items.


Let us consider an example:
L1 = [56, 78.94, "India"]
In the above example, L1 is a list, which contains 3 elements. The first element is 56 (integer), the second is 78.94 (float), third is "India" (string).


Lists are ordered, we can retrieve the elements of a List using "index".

A List in general is a collection of objects. A List in Python is an ordered group of items or elements.
List can be arbitrary mixture of types like numbers, strings and other lists as well.

The main properties of Lists are :



1.   Elements in a list are ordered
2.   They can contain objects of different types

1.   Elements of a list can be accessed using an index similar to accessing an element in an array

1.  A List can contain other lists as their elements
2.   They are of variable size i.e they can grow or shrink as required

2.  They are mutable which means the elements in the list can be changed/modified

We can declare a List using [] (square brackets).

A list contains items separated by commas(,)

We can create a list in two different ways.


1.   One is using list() predefined method:


list1 = list(sequence)

print(type(list1))

<class 'list>



2.   Second way is using []:




list2 = []

print(type(list2))

<class 'list'>



**Create a List**                                                                                                                                         Create a comma separated list of elements and assign to variable a

In [ ]:
a = [2 ,3, 4, 5, 6, 7, 8, 9, 10]
print(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for item in a:
  print(item)

2
3
4
5
6
7
8
9
10

In [ ]:
list1 = []
size = int(input("Enter length of the list: "))
for i in range(size):
	e = input("Enter value: ")
	list1.append(e)
print(list1)
print(type(list1))

Enter length of the list: 4
Enter value: 1
Enter value: 2
Enter value: 3
Enter value: 4
['1', '2', '3', '4']
<class 'list'>

**Indexing**

![image.png]()

Access the item at position 0

Access the item at position 8

Access the last item using negative indexing

In [ ]:
a = [2 ,3, 4, 5, 6, 7, 8, 9, 10]
print(a[0])

print(a[8])

print(a[-1])

2
10
10

**Slicing**

![image.png]()

Print a part of list starting at index 0 till index 2

Print a part of the list starting at index 0 till the end of list

In [ ]:
print(a[0:3])


print(a[0:])

[2, 3, 4]
[2, 3, 4, 5, 6, 7, 8, 9, 10]

Syntax:

`Lst[ Initial : End : IndexJump ]`

In [ ]:
# Initialize list
List = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Show original list
print("\nOriginal List:\n", List)

print("\nSliced Lists: ")

# Display sliced list
print(List[3:9:2])

# Display sliced list
print(List[::2])

# Display sliced list
print(List[::])

Original List:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

Sliced Lists:
[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Initialize list
List = ['Deepak', 4, 'Moud !']

# Show original list
print("\nOriginal List:\n", List)

print("\nSliced Lists: ")

# Display sliced list
print("(List[::-1])")
print(List[::-1])

# Display sliced list
print("List[1::-3]")
print(List[1::-3])

# Display sliced list
print("List[:1:-2]")
print(List[:1:-2])

Original List:
 ['Deepak', 4, 'Moud !']

Sliced Lists:
(List[::-1])
['Moud !', 4, 'Deepak']
List[1::-3]
[4]
List[:1:-2]
['Moud !']

In [ ]:
# Initialize list
List = [-999, 'G4G', 1706256, '^_^', 3.1496]

# Show original list
print("\nOriginal List:\n", List)

print("\nSliced Lists: ")

# Display sliced list
print(List[10::2])

# Display sliced list
print(List[1:1:1])

# Display sliced list
print(List[-1:-1:-1])

# Display sliced list
print(List[:0:])

Original List:
 [-999, 'G4G', 1706256, '^_^', 3.1496]

Sliced Lists:
[]
[]
[]
[]

**Concatenation**

Concatenate two lists and show its output

In [ ]:
a = [2 ,3, 4, 5, 6, 7, 8, 9, 10]
b = [20, 30]
print(a + b)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30]

**Updating**

Update the list element at index 2

append(x)
Add a single item to the end of the list
Equivalent to a[len(a):] = [x]

In [ ]:
a = [2 ,3, 4, 5, 6, 7, 8, 9, 10]
a[2] = 100
print(a)

[2, 3, 100, 5, 6, 7, 8, 9, 10]

**Membership**

Returns True if element is present in list.
Otherwise returns false.

In [ ]:
100 in a

True

In [ ]:
70 in a

False

**Comparison**

Returns True if all elements in both lists are same.
Otherwise returns false

In [ ]:
a = [2, 3, 4, 5, 6, 7, 8, 9, 10]
b = [2, 3, 4]
a == b

False

In [ ]:
a != b

True

**Repetition**

Here the * operator repeats a list for the given number of times.

In [ ]:
a = [1, 2, 3]
a * 0

[]

In [ ]:

a * 2

[1, 2, 3, 1, 2, 3]

In [ ]:

print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
x = ['a', 'b', 'c', 'd']
x.append('e')
print(x)

['a', 'b', 'c', 'd', 'e']

In [ ]:
x = ['a', 'b', 'c', 'd']
x.append([1, 2, 3])
print(x)

['a', 'b', 'c', 'd', [1, 2, 3]]

In [ ]:
x = ['a', 'b', 'c', 'd']
y = [1, 2, 3, 4]
x.extend(y)
print(x)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

**insert(index, item)**
Insert an item at a position before the element given by index.

a.`insert(0, x)` inserts at the front of the list.
`a.insert(len(a), x)` is equivalent to a.append(x) which inserts an element at the end of list.

**`extend(iterable)`**
Extend the list with the items of another list or iterable

Equivalent to `a[len(a):] = iterable`

In [ ]:
x = ['a', 'b', 'c', 'd']
x.insert(0, 1)
print(x)

[1, 'a', 'b', 'c', 'd']

In [ ]:
x.insert(len(x), 'e')
print(x)
[1, 'a', 'b', 'c', 'd', 'e']

[1, 'a', 'b', 'c', 'd', 'e']

[1, 'a', 'b', 'c', 'd', 'e']

**remove(element)**

Remove the first item in the list whose value is element

Error if the item doesn't exist with the value element in list

In [ ]:
L1 = [1, 'a', 'b', 'c', 'd', 'e']
L1.remove(1)
print(L1)

['a', 'b', 'c', 'd', 'e']

In [ ]:
L1.remove('f')

ValueError: ignored

**pop()**, **pop(index)**
Removes an item at the given position specified by index

Removes and returns the last element if index is not specified

If an invalid index is specified, then an IndexError is thrown

In [ ]:
x = ['a', 'b', 'c', 'd', 'e']
print(x.pop(2))

print(x)

c
['a', 'b', 'd', 'e']

In [ ]:
x.pop()

print(x)

['a', 'b', 'd']

In [ ]:
x.pop(-1)
'd'
print(x)

['a', 'b']

**count(x)**

Return the number of times the item x appears in the list

In [ ]:
x = ['a', 'b', 'a', 'c', 'd', 'e', 'a']
x.count('a')

3

**sort(key = None, reverse = False)**

Sort the items of the list in place in ascending order

If the parameter reverse = True, then the list is sorted in place in descending order.

In [ ]:
x = ['z', 'f', 'e', 'a','b', 'g', 't']
x.sort()
print(x)

['a', 'b', 'e', 'f', 'g', 't', 'z']

In [ ]:
x.sort(key = None, reverse = True)
print(x)

['z', 't', 'g', 'f', 'e', 'b', 'a']

In [ ]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [ ]:
# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

**reverse()**

Reverse the order of elements of the list in place

In [ ]:
x = ['z', 'f', 'e', 'a','b', 'g', 't']
x.reverse()
print(x)

['t', 'g', 'b', 'a', 'e', 'f', 'z']

**copy()**

Return the shallow copy of the list
Equivalent to a[:]

In [ ]:
x = ['z', 'f', 'e', 'a','b', 'g', 't']
y = x.copy()
print(x)
print(y)

['z', 'f', 'e', 'a', 'b', 'g', 't']
['z', 'f', 'e', 'a', 'b', 'g', 't']

In [ ]:
# new list without modifying the original lists).
print(x is y)

False

In [ ]:
import copy
x = ['z', 'f', 'e', 'a','b', 'g', 't']
y = x.copy()
y.append('xaq') # # new list without modifying the original lists).
z=copy.deepcopy(x)
x.append(5)
print(x)
print(y)
print(z)

['z', 'f', 'e', 'a', 'b', 'g', 't', 5]
['z', 'f', 'e', 'a', 'b', 'g', 't', 'xaq']
['z', 'f', 'e', 'a', 'b', 'g', 't']

In [ ]:
# Python 3 code to demonstrate
# techniques of deep and shallow copy
import copy

# Initializing list
list1 = [ 1, [2, 3] , 4 ]

# all changes are reflected
list2 = list1

# shallow copy - changes to
# nested list is reflected,
# same as copy.copy(), slicing

list3 = list1.copy()

# deep copy - no change is reflected
list4 = copy.deepcopy(list1)

list1.append(5)
list1[1][1] = 999

print("list 1 after modification:\n", list1)
print("list 2 after modification:\n", list2)
print("list 3 after modification:\n", list3)
print("list 4 after modification:\n", list4)

list 1 after modification:
 [1, [2, 999], 4, 5]
list 2 after modification:
 [1, [2, 999], 4, 5]
list 3 after modification:
 [1, [2, 999], 4]
list 4 after modification:
 [1, [2, 3], 4]

**all()**

Returns True if all the items in the list have a True value.

In [ ]:
print(all([' ', ',', '1', '2']))

True

In [ ]:
print(all([False, ',', '1', '2']))

False

**any()**

Returns True if even one item in the list has a True value.

In [ ]:
print(any([' ', ',', '1', '2']))

True

In [ ]:
print(any([False, False]))

False

In [ ]:
print(any([False, False, '2']))

True

**enumerate()**

Returns an enumerate object consisting of the index and value of all items of the list as a tuple pair.

In [ ]:
print(list(enumerate(['a','b','c','d','e'])))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

**len()**

This function calculates the length i.e., the number of elements in the list.

In [ ]:
print(len(['a', 'b', 'c', 'd', 'e']))

5

**list()**

This function converts an iterable (tuple, string, set, dictionary) to a list

In [ ]:
print(list("abcdef"))

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
print(list(('a', 'b', 'c', 'd', 'e')))

['a', 'b', 'c', 'd', 'e']

**max()**

This function returns the item with the highest value from the list

In [ ]:
print(max([1, 2, 3, 4, 5]))

5

In [ ]:
print(max(['a', 'b', 'c', 'd', 'e']))

e

**min()**

This function returns the item with the lowest value from the list.

In [ ]:
print(min([1, 2, 3, 4, 5]))

1

In [ ]:
print(min(['a', 'b', 'c', 'd', 'e']))

a

**sorted()**

This function returns a sorted result of the list, with the original list unchanged.

In [ ]:
origlist = [1, 5, 3, 4, 7, 9, 1, 27]
sortedlist = sorted(origlist)
print(sortedlist)

[1, 1, 3, 4, 5, 7, 9, 27]

**sum()**

This function returns the sum of all elements in the list.
This function works only on numeric values in the list and will error out if the list contains a mix of string and numeric values.

In [ ]:
print(sum([1, 5, 3, 4, 7, 9, 1, 27]))

57

Create a list with integer values by taking the inputs from the user. For each function length and enumerate, minimum, maximum and sorted print to the console, the result of these functions applying on the given input list as shown in the example.

# List Comprehensions

Comprehensions are used to construct the sequences to be built from other sequences.

We can use List Comprehensions to create Lists based on existing lists.


List comprehension is a complete substitute for the lambda function as well as the functions map(), filter() and reduce().


List Comprehension consists of brackets containing an expression followed by a for clause and then may be followed by an additional zero or more for clause or if statements


The result of List Comprehension may be of evolving an expression through iterating the for loop.


The result of a List Comprehension will always be a List.


Syntax for List Comprehensions:


**`[ expression for an item in iterate if condition ]`**

**Let's consider the below example to print 1 to 10 numbers in List using for clause.**

In [ ]:
list1 = []
for i in range(1, 11): # loop repeats from 1 to 10
	list1.append(i) # every time  value in 'i' will be appended to empty list.
print(list1) # finally print list with no. of elements.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Let's try the above example using List Comprehension:
[i for i in range(1, 11)] # will print the result as

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Here i is an expression which gives final output, for i in range(1, 11) means repeats a for loop from 1 to 10 numbers.

**print odd numbers of 1 to 10 using List Comprehensions**

In [ ]:
[i for i in range(1, 11) if(not i % 2 == 0)]  # List Comprehension to print only odd numbers

[1, 3, 5, 7, 9]

In [ ]:
# find whether the given number is even or odd
n = 11
["even" if(n % 2 == 0) else "odd"]

['odd']

In [ ]:
str=input("Enter string")
[i for i in str]

Enter stringDeepak Moud

['D', 'e', 'e', 'p', 'a', 'k', ' ', 'M', 'o', 'u', 'd']

We can also use Nested for clauses in List Comprehensions.


There is no limit to number of clauses in List Comprehensions, but you should remember that the order of the loops should be the same in both the original code and the list comprehension.

`[ expression for item in iterable (optional if `condition)  

             for item in iterable (optional if condition)
             for item in iterable (optional if condition)......]

In [ ]:
[a * b for a in [1, 2, 3] for b in [10, 20, 30]]

[10, 20, 30, 20, 40, 60, 30, 60, 90]

In [ ]:
[a for a in [10, 8, 5, 4] for b in [4, 7, 5, 10] if a == b]

[10, 5, 4]

In [ ]:
[a * 7 for a in range(1, 11) if(not a * 7 == 42)]

[7, 14, 21, 28, 35, 49, 56, 63, 70]