# Dictionary

### Dictionary is an unordered collection of key and value pairs.


We use Dictionaries to store key and value pairs such as countries and capitals, cities and population, goods and prices etc.


The keys should be unique, but the values can change (The price of a commodity may change over time, but the name of the commodity will not change).

Dictionary is an disordered collection of elements. Dictionary contains elements in the form of (key and value) pairs.


---



Unlike sequences which are indexed by a range of numbers, dictionaries are indexed by keys.



---


The element in a dictionary is of type key:value pair.



---


Hence, a dictionary is a set of disordered collection of comma separated key:value pairs which are enclosed within {} braces.


---



The requirement for the Key is it should be immutable and unique and can be of types - strings, numbers, tuples.


---



Tuples can also be Keys if they contain only strings, numbers or tuples.



---


If any tuple contains a mutable object (such as a list), it cannot be used as a Key.



---


Usually a pair of braces { } represents an empty dictionary.



---


Elements can be added, changed or removed by using the key.

The generalized form of declaring a dictionary is,

`d = {key1: value1, key2: value2, ... , keyn:valuen}`

In [ ]:
month = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6}
print(month)

print(type(month))

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
<class 'dict'>

A **dict()** constructor can also be used to construct a dictionary directly from sequences of key-value pairs.

In [ ]:
d = dict([('one', 1), ('two', 2), ('three', 3), ('four', 4)])
print(d)

print(d['four'])

{'one': 1, 'two': 2, 'three': 3, 'four': 4}
4

The typical operations that can be performed on a dictionary are:


---


Adding elements i.e., Key:Value pairs.


---


Accessing elements using the Key with the Index operator [] or using get() method.


---


Updating the value of a particular element given in the Key.


---


The elements can also be deleted which results in a deletion of both the key:value pair or deleting the entire dictionary using del() method.


---


Iterating through a dictionary for processing the elements in it.

**zip()** 

function in Python 3 returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables.

The iterator stops when the shortest input iterable is exhausted.

With a single iterable argument, it returns an iterator of 1-tuples.

With no arguments, it returns an empty iterator.

In [ ]:
list1 = [10, 20, 30] # take a list
result = zip(list1) # iterate the list using zip()
print(result) # print the result<zip object at 0x7ff536c7b1c8>
myset = set(result) # convert the zip object into set using set()
print(myset) # print set

<zip object at 0x7f64d753c1e0>
{(10,), (30,), (20,)}

In [ ]:
# Let's consider a single iterable argument, it returns an iterator of 1-tuples
tuple1 = (1,) # tuple with single element
result = zip(tuple1) # iterate the tuple using zip()
mylist = list(result) # convert zip object into list using list()
print(mylist) # print mylist

[(1,)]

In [ ]:
# Let's consider no arguments for iterables, it returns an empty iterator
list1 = [] # creating a empty list
result = zip(list1) # iterates the empty list using zip()
print(result) # will print result as <zip object at 0x7ff536c7d7c8>
mytuple = tuple(result)
print(mytuple) # result as ()

<zip object at 0x7f64d3abebe0>
()

In [ ]:
# Let's consider an example to convert tuple into list:
tuple1 = (10,20,30) # creating a tuple
mylist = list(zip(tuple1)) # convert the tuple elements into list using zip() and list()
print(mylist)

[(10,), (20,), (30,)]

Let's understand how to create a dictionary using zip() function.
We need both keys and values for dictionaries.
Here we take two lists, one is for keys of dictionary and second list for values of dictionary.
Convert the given lists into dictionary using dict(zip(list1, list2))

In [ ]:
data1=input("Enter elements  seperated by comma(,) for list1")
data2=input("Enter elements  seperated by comma(,) for list2")
list1=data1.split(",")
list2=data2.split(",")
mydict=dict(zip(list1,list2))
print("List1", list1)
print("List2", list2)
print("Dictionary", sorted(mydict.items()))

Enter elements  seperated by comma(,) for list1A,B,C,D
Enter elements  seperated by comma(,) for list21,2,3,4
List1 ['A', 'B', 'C', 'D']
List2 ['1', '2', '3', '4']
Dictionary [('A', '1'), ('B', '2'), ('C', '3'), ('D', '4')]

The index operator i.e., **[]** is used along with the key to access an element in the dictionary.

In [ ]:
month = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6}
print(month)

print(type(month))

print(month['Apr'])

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
<class 'dict'>
4

The **get()**

method returns None instead of a Key-Error, when the key is not found.

In [ ]:
print(month['July'])
print(month['Jan'])

KeyError: ignored

In [ ]:
print(month.get('july'))
print(month.get('Jan'))

None
1

In [ ]:
fruits = {1:'apple', 2:'orange', 3:'mango', 4:'grapes'}
for indx in fruits:
	print(fruits[indx], end = ' ')

apple orange mango grapes

The **items()** 

method of Dictionary returns a list of (key,value) tuples for each of the key:value pairs of a dictionary.

In [ ]:
fruits = {1:'apple', 2:'orange', 3:'mango', 4:'grapes'}
print(fruits.items()) # Prints the following output

dict_items([(1, 'apple'), (2, 'orange'), (3, 'mango'), (4, 'grapes')])

**Deleting an element from a dictionary.**

An element can be removed from the dictionary using the **pop()** method which takes a Key as argument and returns the value associated.

If an invalid/non-existent key is provided with pop(), then a TypeError is shown.

The **popitem()** method can be used to remove and return an arbitrary item (key, value) from the dictionary.
All items can be removed from the dictionary using the **clear()** method.

This in fact makes the dictionary empty and doesn't delete the variable associated.

The associated variable reference can be reused.

The **del** keyword is used to delete an item using index operator [] with key or delete the entire dictionary.

Trying to reference the dictionary variable after it has been deleted results in a NameError.

In [ ]:
fruits = {1: 'apple', 2: 'orange', 3: 'mango', 4: 'grapes'}
print(type(fruits))

print(fruits.pop(4))

print(fruits)

print(fruits.popitem())

print(fruits)

<class 'dict'>
grapes
{1: 'apple', 2: 'orange', 3: 'mango'}
(3, 'mango')
{1: 'apple', 2: 'orange'}

In [ ]:
fruits = {1: 'apple', 2: 'orange', 3: 'mango', 4: 'grapes'}
del fruits[2]
print(fruits)

fruits.clear()
print(fruits)

{1: 'apple', 3: 'mango', 4: 'grapes'}
{}

In [ ]:
del fruits

A**s a Dictionary is mutable,**

New elements can be added and an existing element can be changed using the assignment operator [ ].

The Key is used with the assignment operator.

If the key already exists in the dictionary, the associated value gets updated.

or else a new key:value pair gets added to dictionary.

In [ ]:
fruits = {1:'apple', 2:'orange', 3:'mango'}
print(fruits)

print(type(fruits))

fruits[4] = 'grapes'
print(fruits)

fruits[2] = 'guava'
print(fruits)

{1: 'apple', 2: 'orange', 3: 'mango'}
<class 'dict'>
{1: 'apple', 2: 'orange', 3: 'mango', 4: 'grapes'}
{1: 'apple', 2: 'guava', 3: 'mango', 4: 'grapes'}

# list of functions that can be applied to a dictionary:


**all()**

Returns True if all the keys of the dictionary are true, else false if the dictionary is empty

In [ ]:
dict1 = {1:'alpha', 2:'beta', 3:'gamma', 4:'music'}
print(all(dict1))

dict2 = {1:'alpha', 2:'', '':'gamma',  4:'music'}
print(all(dict2))

True
False

**any()**

Returns True if any key of the dictionary is True else False if the dictionary is empty.

In [ ]:
dict2 = {1:'alpha', 2:'', '':'gamma', 4:'music'}
print(any(dict2))

True

**len()**

This function calculates the length i.e., the number of key: value pair elements in the dictionary

In [ ]:
dict1 =  {1:'alpha', 2:'beta', 3:'gamma', 4:'music'}
print(len(dict1))

4

**sorted()**

This function returns a new sorted list of keys in the dictionary.

In [ ]:
dict1 =  {2:'alpha', 3:'beta', 1:'gamma', 4:'music', 6:'video'}
sortlist = sorted(dict1)
print(sortlist)

[1, 2, 3, 4, 6]

**clear()**

In [ ]:
# Removes all elements of a dictionary
emp = {'Name': 'Anil', 'Age':26, 'Exp':5}
print(len(emp))

emp.clear()
print(len(emp))
print(emp)

3
0
{}

**copy()**

In [ ]:
# Returns a shallow copy of dictionary
fruits = {'apple':'red', 'orange':'orange', 'mango':'yellow'}
dict2 = fruits.copy()
print(dict2)

{'apple': 'red', 'orange': 'orange', 'mango': 'yellow'}

**get()**

In [ ]:

dict = {'cyan':1, 'violet':2, 'green':3}
print("Value : %s " % dict.get('violet'))


print(("Value: %s"  %dict.get('red')))

Value : 2
Value: None

**items()**

In [ ]:
# Return a list of (key,value) tuple pairs
dict = {'cyan':1, 'violet':2, 'green':3}
print(dict.items())

dict_items([('cyan', 1), ('violet', 2), ('green', 3)])

**keys()**

In [ ]:
# Return a list of dictionary's keys
dict = {'cyan':1, 'violet':2, 'green':3}
print(dict.keys())

dict_keys(['cyan', 'violet', 'green'])

**setdefault(key, default = None)**
returns the value of a key (if the key is in dictionary). Else, it inserts a key with the default value to the dictionary.

In [ ]:
# This method is similar to the method get().
#It will set dict[key] = default, if key is not found
dict1 = {'cyan':1, 'violet':2, 'green':3}


dict1.setdefault('red', 20)

dict1

{'cyan': 1, 'violet': 2, 'green': 3, 'red': 20}

In [ ]:
d = {'a': 97, 'b': 98, 'c': 99, 'd': 100}
# space key added using setdefault() method
d.setdefault(' ', 32)
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, ' ': 32}

**update(dict2)**

In [ ]:
# Appends dict2's key:value pairs to the calling dict
dict1 = {'cyan':1, 'violet':2, 'green':3}
dict2 = {'red':4, 'white':5}
dict1.update(dict2)
print(dict1)

{'cyan': 1, 'violet': 2, 'green': 3, 'red': 4, 'white': 5}

**values()**

In [ ]:
# Returns a list of dictionary's values
dict1 = {'cyan': 1, 'violet': 2, 'green': 3, 'red': 4}
dict1.values()

dict_values([1, 2, 3, 4])

**Turn Lists into Dictionaries:**

we will learn how a dictionary can be formed by using the lists that we created in the example .

The method, zip() is used to combine two lists. The result of using this method is a list iterator.

The list() casting function is used to create a list out of the zip result.

This list contains 2-tuple elements, where the pair elements in the tuple represent the key and value.

Finally the dict() constructor method is used to convert the zip list result into a dictionary.

In [ ]:
dct = {'1':'apple', '2':'orange','3':'mango'}
dct_view = dct.items()
print(dct_view)
print(type(dct_view))
dct_view_list = list(dct_view)
print(dct_view_list)
type(dct_view_list)

dict_items([('1', 'apple'), ('2', 'orange'), ('3', 'mango')])
<class 'dict_items'>
[('1', 'apple'), ('2', 'orange'), ('3', 'mango')]

list

In [ ]:
dct_keys = dct.keys()
print(dct_keys)
print(type(dct_keys))


dct_values = dct.values()
print(dct_values)

dct_values_list = list(dct_values)
print(dct_values_list)
print(type(dct_values_list))


type(dct_values)
dct_keys_list = list(dct_keys)
print(dct_keys)
print(type(dct_keys_list))

dict_keys(['1', '2', '3'])
<class 'dict_keys'>
dict_values(['apple', 'orange', 'mango'])
['apple', 'orange', 'mango']
<class 'list'>
dict_keys(['1', '2', '3'])
<class 'list'>

In [ ]:
zip_result = zip(dct_keys_list, dct_values_list)
print(zip_result)

zip_result_list = list(zip_result)
print(type(zip_result_list))

print(zip_result_list)

dict_from_zip_list = dict(zip_result_list)
print(type(dict_from_zip_list))

print(dict_from_zip_list)

<zip object at 0x7f64d752ab90>
<class 'list'>
[('1', 'apple'), ('2', 'orange'), ('3', 'mango')]

TypeError: ignored

Python provides methods to convert a Dictionary into lists and vice-versa.

**Lists from Dictionaries:**
It is possible to create lists from dictionaries by using the methods items(), keys() and values().
The method keys() creates a list which solely consists of the keys of the dictionary.
The method values() produces a list consisting values of the dictionary.
The method items() is used to create a list of 2-tuple elements corresponding to each of the key:value pairs.

In [ ]:
dct = {'1':'apple', '2':'orange', '3':'mango'}
items_view = dct.items()
print(type(items_view))

print(items_view)

<class 'dict_items'>
dict_items([('1', 'apple'), ('2', 'orange'), ('3', 'mango')])

In [ ]:
dct_keys = dct.keys()

In [ ]:
print(dct_keys)

dict_keys(['1', '2', '3'])

In [ ]:

dct_values = dct.values()
print(dct_values)

dict_values(['apple', 'orange', 'mango'])

In [ ]:
dct_keys_list = list(dct_keys)
print(type(dct_keys_list))

dct_values_list = list(dct_values)
print(type(dct_values_list))

print(dct_keys)

print(dct_values)

<class 'list'>
<class 'list'>
dict_keys(['1', '2', '3'])
dict_values(['apple', 'orange', 'mango'])

# Dictionary Comprehension

A Dictionary Comprehension is like a list comprehension, but it constructs a dictionary instead of a list.

Dictionary Comprehensions are introduced in Python3.

Dictionary Comprehensions return output in Dictionary format like (key : value) pairs and Keys should be unique and each key has a respective value.

Syntax for Dictionary Comprehension:

`{key : value for (key , value) in iterable}`

In [ ]:
list1 = [10, 20, 30]

dict1 = {key : value for key, value in enumerate(list1)}

print(dict1) # will print result as follows

{0: 10, 1: 20, 2: 30}

In [ ]:
dict2 = {i : i ** 2 for i in range(1, 11)}
print(dict2) # will print result as follows

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
dict1 = {k:"python" for k in "Jain Univrrsity"}

print(dict1) # will print result as follows

{'J': 'python', 'a': 'python', 'i': 'python', 'n': 'python', ' ': 'python', 'U': 'python', 'v': 'python', 'r': 'python', 's': 'python', 't': 'python', 'y': 'python'}

In [ ]:
dict2 = {i.lower() : i for i in "PYTHON"}

print(dict2) # will print result as follows

{'p': 'P', 'y': 'Y', 't': 'T', 'h': 'H', 'o': 'O', 'n': 'N'}