all programming languages, data types are used to classify data to one particular type of data.

The data type of the data determines :
 possible values it can be assigned.
 possible operations that can be performed. (Arithmetic operations can be applied on numeric data and not strings)
 the format in which it is stored in the memory.
 the amount of memory allocated to store the data.
Some of the built-in data types supported in Python are:

Number
String
List
Tuple
Set
Dictionary

In Python, every value has a data type.

A variable in Python can hold value of any data type.

The same variable in Python can refer to data of different data types at different times.

So variables in Python are not (data) typed.

Let us consider an example:



The syntax of the type() function is as follows :
type(variable_name)
returns the data type of variable_name

In [ ]:
a = 5 # variable a now refers to Integer data type
a = 90.45 # variable a now refers to Float data type
a = "India"  # variable a now refers to String data type
a = [5, 90.45, "India"]  # variable a now refers to List data type

**Numbers**

We have three different categories of numbers in Python. They are :
int

float

complex

**1.int** – int stands for integer. This Python data type stores signed integers. We can use the type() function to find which class it belongs to.


In Python an integer can be of any length, with the only limitation being the available memory.

In [ ]:
a = -7
print(type(a)) # will print output as follows

<class 'int'>


**2.float** – float stands for floating-point numbers. This Python data type stores floating-point real values. An int can only store the number 20, but float can store numbers with decimal fractions like 20.25 if you want.

In [ ]:
a = 12536984596965565656236534754587821564
print(type(a)) # will print output as follows

<class 'int'>

**3.complex** – complex stands for complex numbers. This Python data type stores a complex number. A complex number is a combination of a real number and an imaginary number. It takes the form of a + bj Here, a is the real part and b*j is the imaginary part.

In [ ]:
a = 2 + 3j # It is important to note that there should not be any space between 3 and j
print(type(a)) # will print output as follows

<class 'complex'>

In Python  **STRING**  is a sequence of characters enclosed inside a pair of single quotes(‘) or double quotes(“). Even triple quotes (''') are used in Python to represent multi-line strings.

An individual character within a string is accessed using an index.

Index starts from 0 to n-1, where n is the number of characters in the string.

Python allows negative indexing in strings. The index of -1 refers to the last item in the string, -2 refers to the second last item and so on.

 In Python, a string of length 1 is treated as a character.

Ways of creating strings in Python

In [ ]:
# 1. Using single quotes (' ')
str = 'Welcome To Python World'
print(str)# will print output as follows

Welcome To Python World

In [ ]:
sentence =  "Welcome to Python's world"
print (sentence) # will print output as follows

Welcome to Python's world

In [ ]:
sentence =  'Welcome to Python\'s world' # observe a backslash (\) before (')
print (sentence) # will print output as follows

Welcome to Python's world

In [ ]:
str = "Welcome to the world of Python"
print(str) # will print output as follows

Welcome to the world of Python

In [ ]:
str = """Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect"""
print(str) # will print output as follow

Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect

In [ ]:
str = '''Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect'''
print(str) # will print output as follows

Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect

**List** is a data type of Python used to store multiple values of different types of data at a time. List are represented with [].

A list can be created by putting comma separated values between square brackets [].

In [ ]:
list1 = [1, 2, "one", "hi"]
print(list1) # will print output as follows

[1, 2, 'one', 'hi']

In [ ]:
list2 = [4, 5, "hello"]
print(list2) # will print output as follows

[4, 5, 'hello']

In [ ]:
list2 = [4, 5, "hello"]
print(list2[1]) # prints the value present at 1st index in list2

5

**Slicing lists**

In [ ]:
l = [1, 4, 5, 7, 4, 15]
print( l[2:4])

[5, 7]

In [ ]:
l = [1, 4, 6, 22, 44, 12, 55, 66]
print(l[3:-3])

[22, 44]

In [ ]:
l[3:]

[22, 44, 12, 55, 66]

In [ ]:
l[:4]

[1, 4, 6, 22]

**Concatenating lists**

In [ ]:
list1 = [1, 2, 'one', 'hi']
list2 = [4, 5, 'hello']
print(list1 + list2) # will print output as follows

[1, 2, 'one', 'hi', 4, 5, 'hello']

**Repeating lists**

In [ ]:
list2 = [4, 5, 'hello']
print(2 * list2) # will print output as follows

[4, 5, 'hello', 4, 5, 'hello']

**Working with nested lists**

In [ ]:
list1 = [23, 5.65, ["A", 34.23], "India"]
print(list1[2] [1] )

34.23

We can access the elements of a list by using index similar to accessing the individual characters of a string.

Unlike strings, lists are mutable i.e. we can modify the list (change the items, add items and reassign an item).

In [ ]:
chars = ['a', 'b', 'c', 'd']
chars[3] = 'xyz'
print(chars) # will print output as follows

Output :
['a', 'b', 'c', 'xyz']

**Add an item to the list**

In [ ]:
chars = ['a', 'b', 'c', 'd']
chars.append("abcd")
print(chars) # will print output as follows

['a', 'b', 'c', 'd', 'abcd']

In [ ]:
chars = ['a', 'b', 'c', 'd']
chars.append( ['e', 'f'])  # This will append the list ['e', 'f'] as the last item to the chars list.  
print(chars) # will print output as follows

The **extend()** method is used to add items of one list to be added as individual items of another list.

In [ ]:
chars = ['a', 'b', 'c', 'd']
list2 = [1, 2, 3]
chars.extend(list2)
print(chars) # will print output as follows

['a', 'b', 'c', 'd', 1, 2, 3]

A **set** is a mutable data type that contains an unordered collection of items.

Every element in the set should be unique (no duplicates) and must be immutable (which cannot be changed). But the set itself is mutable. We can add or remove items / elements from it.

Note : Mutable data types like list, set and dictionary cannot become elements of a set.
The set itself is mutable i.e. we can add or remove elements from the set.

The main uses of sets are:
 Membership testing
Removing duplicates from a sequence
Performing mathematical operations such as intersection, union, difference, and symmetric difference
A set is represented with { }.

Creation of sets

A set is created by placing all the items (elements) inside curly braces **{},** separated by comma or by using the built-in function set().

Empty set

An empty set can be created using built-in set() function.

In [ ]:
myset = set()
print(myset) # will print empty set.
print(type(myset)) # will print type of myset.

set()
<class 'set'>

In [ ]:
myset1 = {1, 2, 3} 
print(myset1) # will print the elements of a set.
print(type(myset1)) # will print type of myset1.

{1, 2, 3}
<class 'set'>

In [ ]:
test = { } 
print(type(test))

<class 'dict'>

A **tuple** is a data type similar to list.

The major differences between the two are: Lists are enclosed in square brackets [] and their elements and size can be changed (mutable), while tuples are enclosed in parentheses () and their elements cannot be changed (immutable).

Tuples can be thought of as read-only lists.

**A tuple is represented using parenthesis ( ).**

**Creation of a Tuple:**

Tuples can be created using built-in function called tuple().

An empty tuple can be created using tuple() function as follows :

In [ ]:
tuple1 = tuple() # Creating an empty tuple using tuple() function
print(tuple1) # Printing tuple1

()

In [ ]:
mytuple = (1, 2, 3, "Data types") # mytuple = 1, 2, 3, "Data types" will also work.
print(mytuple)
print(type(mytuple))

(1, 2, 3, 'Data types')
<class 'tuple'>

In [ ]:
tuple2 = (1, 2, 3, "data types") # creating tuple with different type of values
print(tuple2) # print created tuple

(1, 2, 3, 'data types')

In [ ]:
mytuple = (1)
print(mytuple) # Will print integer 1 instead of a tuple.
print(type(mytuple)) # will print output as follows

1
<class 'int'>

In [ ]:
mytuple = (1,)
print(mytuple) # Will print tuple (1,) 
print(type(mytuple)) # will print output as follows

(1,)
<class 'tuple'>

Individual elements of the tuple can be accessed using index similar to lists.

In [ ]:
tuple1 = ("hi", "hello", 55, 66)
print(tuple1[0]) # Printing the element at the  0th index of the tuple, tuple1

hi

In [ ]:
tuple1 = ("hi", "hello", 55, 66)
print(tuple1[-2]) # Printing the second last element of the tuple.

55

In [ ]:
tuple1 = ("hi", "hello", 55, 66)
print(tuple1[4]) # Printing the element at the 4th index of the tuple, tuple1 results in an IndexError.

IndexError: ignored

It is possible to convert tuples into lists and vice versa using builtin-functions like tuple() and list()

In [ ]:
tuple1 = ('hi', 'hello', 55, 66) # Creating a tuple, tuple1
print(tuple1) # Printing tuple1 , output contains values enclosed in parentheses indicating a tuple
print(type(tuple1)) # Printing the type of tuple1

list1 = list(tuple1) # Converting the tuple1 into a list using list() function.
print(list1) # Printing list1 , output contains values enclosed in square brackets indicating a tuple
print(type(list1))

('hi', 'hello', 55, 66)
<class 'tuple'>
['hi', 'hello', 55, 66]
<class 'list'>

In [ ]:
tuple1 = ('hi', 'hello', 55, 66) # Creating a tuple, tuple1
print("Given tuple :",tuple1) 
list1 = list(tuple1) # Converting the tuple to a list using built-in list() function.
print("After conversion of tuple to list :",list1) 
list1[2] = "fifty five"  # Updating the value of element at 2nd index. This does not result in an error as the lists are mutable.
print("List after changing the element :",list1) 
tuple1 = tuple(list1)  # Converting the list back to tuple using the built-in tuple() method.
print("After converting list into tuple :",tuple1) # Printing the final tuple with the updated element at 2nd index.

Given tuple : ('hi', 'hello', 55, 66)
After conversion of tuple to list : ['hi', 'hello', 55, 66]
List after changing the element : ['hi', 'hello', 'fifty five', 66]
After converting list into tuple : ('hi', 'hello', 'fifty five', 66)

**Dictionary** is an unordered collection of key and value pairs.

Note : While other compound data types (like lists, tuples and sets) have only value as an element, a dictionary has a key : value pair
General usage of dictionaries is to store key-value pairs like :
 Employees and their wages
Countries and their capitals
Commodities and their prices
In a dictionary, the keys should be unique, but the values can change. For example, the price of a commodity may change over time, but its name will not change.

Immutable data types like number, string, tuple etc. are used for the key and any data type is used for the value.

Dictionaries are represented using key-value pairs separated by commas inside curly braces {}. The key-value pairs are represented as key : value. For example, daily temperatures in major cities are mapped into a dictionary as { "Hyderabad" : 27 , "Chennai" : 32 , "Mumbai" : 40 }.

Creating a dictionary:

A dictionary can be created in two ways.
 Using the built-in dict() function.
 Assigning elements directly

In [ ]:
# 1. Using built-in dict() function.
mydict = dict() # Creating an empty dictionary called mydict
print(type(mydict)) # Printing data type of mydict.
print(mydict)  # Prints empty dictionary.

<class 'dict'>
{}

In [ ]:
mydict = dict(Hyderabad = 20, Delhi = 30) # A dictionary with two key pairs is created.
print(mydict) # Prints the dictionary

{'Hyderabad': 20, 'Delhi': 30}

In [ ]:
mydict = {1:"one", 2 :"two", 3:"three"}  # Create a dictionary with three key-value pairs.
print(mydict) # Printing the dictionary
print(type(mydict)) # will print output as follows

{1: 'one', 2: 'two', 3: 'three'}
<class 'dict'>

The elements of the dictionary can be retrieved/accessed in 2 ways.

 Using the keys of the dictionary.
 Using the get() method.

In [ ]:
# 1. Using the keys of the dictionary.
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals["India"]) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals["Nepal"]) # Printing the value with the key "Nepal" i.e. "Khatmandu".

New Delhi
Khatmandu

In [ ]:
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals["India"]) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals["Australia"]) # Since the key "Australia" is not present, it results in a Key Error

New Delhi

KeyError: ignored

In [ ]:
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals.get("India")) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals.get("Nepal")) # Printing the value with the key "Nepal" i.e. "Khatmandu".

New Delhi
Khatmandu

In [ ]:
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals.get("India")) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals.get("Australia")) # Since the key "Australia" is not present, it results in a None

New Delhi
None