<a href="https://colab.research.google.com/github/mithunkumarsr/LearnPythonWithMithun/blob/master/Python_Unit_4_Lists_and_Dictionaries_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming - Unit 4: Lists and Dictionaries

## 1. Introduction to Data Structures

Data structures are ways to organize and store data for efficient access and modification.
Common Data Structures: Lists, Tuples, Dictionaries, Sets.
Importance: Vital for solving complex programming problems.

## 2. The List Data Type
A list is a mutable, ordered collection of items.


**List is a data type of Python and is used to store sequence of items.**

The items of a list need not be of the same data type.

Lists are ordered sequence of items.


Let us consider an example:
L1 = [56, 78.94, "India"]
In the above example, L1 is a list, which contains 3 elements. The first element is 56 (integer), the second is 78.94 (float), third is "India" (string).




Lists are ordered, we can retrieve the elements of a List using "index".

A List in general is a collection of objects. A List in Python is an ordered group of items or elements.
List can be arbitrary mixture of types like numbers, strings and other lists as well.

In [ ]:
my_list = [1, 2, 3, 4]
print('Initial list:', my_list)

The main properties of Lists are :



1.   Elements in a list are ordered
2.   They can contain objects of different types

1.   Elements of a list can be accessed using an index similar to accessing an element in an array

1.  A List can contain other lists as their elements
2.   They are of variable size i.e they can grow or shrink as required

2.  They are mutable which means the elements in the list can be changed/modified

We can declare a List using [] (square brackets).

A list contains items separated by commas(,)

We can create a list in two different ways.


1.   One is using list() predefined method:


list1 = list(sequence)

print(type(list1))

<class 'list>

## 3. Working with Lists
Accessing elements, slicing, and modifying lists.

![image.png]()

Access the item at position 0

Access the item at position 8

Access the last item using negative indexing

In [ ]:
a = [2 ,3, 4, 5, 6, 7, 8, 9, 10]
print(a[0])

print(a[8])

print(a[-?])

In [ ]:
print('First element:', my_list[0])
print('Sliced list (1:3):', my_list[1:3])
my_list[0] = 10
print('Modified list:', my_list)
my_list.append(5)
print('List after appending 5:', my_list)
my_list.pop()
print('List after popping the last element:', my_list)

**Create a List**                                                                                                                                         Create a comma separated list of elements and assign to variable "a" and run the for loop to print it.

In [ ]:
Access the item at position 0

Access the item at position 8

Access the last item using negative indexing

**Exercise 1: Introduction to Lists and Working with Them**
Task: Create a Python list that holds the names of five different fruits.
Print the list.
Print the second and fourth fruit in the list.
Add a new fruit to the end of the list and print the updated list.
Remove the third fruit from the list and print the updated list.

In [ ]:
# Exercise 1: Introduction to Lists and Working with Them

# 1. Create a list of five different fruits and print it
fruits = ["Apple", "Banana", "Cherry", "Mango", "Orange"]
print("Original list:", fruits)

# 2. Print the second and fourth fruits in the list
# Complete the following lines
# print(fruits[?])
# print(fruits[?])

# 3. Add a new fruit to the end of the list and print the updated list
# Use the append() method
# fruits.append(?)
# print(fruits)

# 4. Remove the third fruit from the list and print the updated list
# Use the del keyword
# del fruits[?]
# print(fruits)

Slicing:
![image.png]()

## 4. Augmented Assignment Operators
Using `+=` to modify lists.

In [ ]:
my_list += [6, 7]
print('List after += [6, 7]:', my_list)

**Exercise 2: Augmented Assignment Operators**
Task: Use augmented assignment operators to manipulate a number and a list.
Start with a number x = 10 and use augmented assignment operators to double it, then subtract 5.
For a list of numbers [1, 2, 3], use an augmented assignment operator to extend it by adding [4, 5, 6] to the list.

In [ ]:
# Exercise 2: Augmented Assignment Operators

# Start with a number x = 10
x = 10

# Use augmented assignment to double it, then subtract 5
x *= 2  # Double the value
x -= 5  # Subtract 5
print("Updated number x:", x)

# Extend the list using augmented assignment
numbers = [1, 2, 3]
# Use the += operator to add [4, 5, 6] to the list
# numbers += [?]
# print(numbers)

## 5. List Methods
Using common methods such as `append`, `extend`, `insert`, `remove`, etc.

In [ ]:
my_list.append(8)
print('List after appending 8:', my_list)
my_list.extend([9, 10])
print('List after extending:', my_list)
my_list.insert(0, 0)
print('List after inserting 0 at index 0:', my_list)

## 6. Example: Magic 8 Ball with a List
A fun example using lists and random selection.

In [ ]:
import random
responses = ['Yes', 'No', 'Ask again later', 'Definitely', 'Not sure']
print('Magic 8 Ball says:', random.choice(responses))

**Exercise 3: Magic 8 Ball Using a List**
Task: Create a Magic 8 Ball program.
Store 8 possible responses in a list.
Use random.choice() to pick a random response when the user asks a question

In [ ]:
# Exercise 3: Magic 8 Ball Using a List

import random

# Create a list of 8 possible responses
responses = ["Yes", "No", "Ask again later", "Definitely",
             "I don't think so", "Absolutely", "Maybe", "Try again"]

# Ask the user a question and print a random response
# question = input("Ask the Magic 8 Ball a question: ")
# print("Magic 8 Ball says:", random.choice(responses))

## 7. List-like Types: Strings and Tuples
Strings and Tuples are immutable.

In [ ]:
my_string = 'Hello, world!'
print('First character of the string:', my_string[0])
my_tuple = (1, 2, 3)
print('Tuple:', my_tuple)

In [ ]:
# Exercise 4: List-like Types (Strings and Tuples)

# Demonstrate how strings and tuples work similarly to lists
my_string = "Hello"
my_tuple = (10, 20, 30, 40, 50)

# Print the second character in the string and the last two elements in the tuple
# print(my_string[?])
# print(my_tuple[?])

## 8. References in Python
Explaining how variables reference objects in Python.

In [ ]:
a = [1, 2, 3]
b = a
b[0] = 10
print('List a after modifying b:', a)

In [ ]:
# Exercise 5: References and List Copying

# Create a list and assign it to a new variable
original_list = [1, 2, 3]
copied_list = original_list  # Reference copy

# Modify the original list and print both lists
original_list[0] = 100
print("Original list after modification:", original_list)
print("Copied list after original list is modified:", copied_list)  # Both are changed

# Create a true copy of the list and show the difference
# copied_list_true = original_list.copy()
# original_list[1] = 200
# print("Original list after second modification:", original_list)
# print("True copied list:", copied_list_true)

## 9. Dictionaries and Structuring Data
A dictionary is a collection of key-value pairs.

In [ ]:
my_dict = {'name': 'Alice', 'age': 25}
print("Accessing 'name':", my_dict['name'])
my_dict['age'] = 26
print('Modified dictionary:', my_dict)
my_dict['city'] = 'New York'
print('Dictionary after adding city:', my_dict)

In [ ]:
# Exercise 6: Dictionaries and Structuring Data

# Create a dictionary to store student information
student = {
    "name": "John Doe",
    "age": 20,
    "subjects": ["Math", "Physics", "Computer Science"]
}

print("Student details:", student)

# Add a new subject and print the updated dictionary
# student["subjects"].append(?)
# print(student)

## 10. The Dictionary Data Type
Using `keys()`, `values()`, and `items()` methods.

In [ ]:
print('Keys:', my_dict.keys())
print('Values:', my_dict.values())
print('Items:', my_dict.items())
print("Get 'name':", my_dict.get('name'))

## 11. Pretty Printing
Use `pprint` for better readability when printing complex data.

In [ ]:
import pprint
pprint.pprint(my_dict)

In [ ]:
# Exercise 7: Pretty Printing

from pprint import pprint

# Create a nested dictionary of students
data = {
    "students": [
        {"name": "Alice", "age": 21, "grades": [85, 90, 88]},
        {"name": "Bob", "age": 22, "grades": [78, 81, 89]},
        {"name": "Charlie", "age": 23, "grades": [95, 85, 92]}
    ]
}

# Use pprint to display the nested dictionary in a readable format
pprint(data)

## 12. Modeling Real-World Data with Lists and Dictionaries
Example: Student records.

In [ ]:
students = [
    {'name': 'Alice', 'age': 25, 'grades': [90, 85, 88]},
    {'name': 'Bob', 'age': 23, 'grades': [75, 80, 79]}
]
pprint.pprint(students)

In [ ]:
# Exercise 8: Using Data Structures to Model Real-World Things

# Create a dictionary to represent a book in a library
book = {
    "title": "1984",
    "author": "George Orwell",
    "year_published": 1949,
    "is_available": True
}

print("Book details:", book)

# Borrow the book and update its availability
# book["is_available"] = False
# print(book)

More Exercises

In [ ]:
# 9 Using a for loop to create a list of squares
squares = []
for i in range(1, 11):
    squares.append(i ** 2)

print("Squares using for loop:", squares)

# Now refactor this using list comprehension
# squares = [i**2 for i in range(?)]
# print("Squares using list comprehension:", squares)

In [ ]:
# 10 Creating a 3x3 matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Accessing the element in the second row, third column
# element = matrix[?][?]
# print("Element in second row, third column:", element)

# Print each row of the matrix
for row in matrix:
    print(row)

In [ ]:
# 11 Dictionary comprehension to create number: square pairs
# squares_dict = {num: num**2 for num in range(1, ?)}
# print("Dictionary of squares:", squares_dict)

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# Merging the dictionaries
merged_dict = dict1.copy()
merged_dict.update(dict2)
print("Merged dictionary:", merged_dict)

# Add a new entry and update an existing entry
# merged_dict["e"] = ?
# merged_dict["a"] = ?
# print("Updated dictionary:", merged_dict)

In [ ]:
#13 List of dictionaries
students = [
    {"name": "Alice", "age": 21, "grades": [85, 90, 88]},
    {"name": "Bob", "age": 22, "grades": [78, 81, 89]}
]

# Adding a new student
# new_student = {"name": "Charlie", "age": 23, "grades": [95, 85, 92]}
# students.append(new_student)

# Print each student's name and average grade
for student in students:
    name = student["name"]
    grades = student["grades"]
    avg_grade = sum(grades) / len(grades)
    print(f"{name}'s average grade: {avg_grade}")

In [ ]:
# Exercise 14: Multi-Dimensional Dictionaries

phonebook = {
    "John Doe": {"phone": "123-456-7890", "address": "123 Elm St"},
    "Jane Smith": {"phone": "987-654-3210", "address": "456 Oak St"}
}

# Adding a new contact
# phonebook["Alice Johnson"] = {"phone": ?, "address": ?}

# Print the phone number of John Doe
# print("John Doe's phone number:", phonebook["John Doe"]["phone"])

In [ ]:
#Exercise 15: Using zip with Lists and Dictionaries

names = ["Alice", "Bob", "Charlie"]
ages = [21, 22, 23]

# Combine the lists into a dictionary using zip
# students_dict = dict(zip(?, ?))
# print(students_dict)